@mixin centerThings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    position: sticky;
    height: 100px; 
    background-color: #f8efef;
    padding: 0px 8rem;

    @include centerThings()
}

.navators{
    @include centerThings();

    & > p{
        margin-right: 10px;
        font-size: 2.2rem;
        cursor: pointer;
    }
}